<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="simpleTimerTask" class="com.denglitong.timer.SimpleTimerTask"/>
    <bean id="myService" class="com.denglitong.service.MyService"/>

    <bean id="scheduledTask"
          class="org.springframework.scheduling.concurrent.ScheduledExecutorTask"
          p:runnable-ref="simpleTimerTask"
          p:delay="1000"
          p:period="1000"/>

    <bean id="timerTask"
          class="org.springframework.scheduling.support.MethodInvokingRunnable"
          p:targetObject-ref="myService"
          p:targetMethod="doJob"/>

    <bean id="scheduledExecutor"
          class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="scheduledExecutorTasks">
            <list>
                <ref bean="scheduledTask"/>
            </list>
        </property>
    </bean>

</beans>